{
	admin off
	persist_config off
}

{$CADDY_SITE::80} {
	encode gzip
	request_body {
		max_size 25MB
	}

	handle_path /identity/* {
		reverse_proxy identity:8081 {
			transport http {
				read_timeout 60s
			}
		}
	}

	handle_path /learning/* {
		reverse_proxy learning:8082 {
			transport http {
				read_timeout 180s
				write_timeout 180s
			}
		}
	}

	handle {
		root * /usr/share/caddy
		try_files {path} /index.html
		file_server
	}
}
